@model TaskManagementSystem.Web.Models.TaskViewModel

@{
    Layout = "_LoginLayout";
}

<div class="card-body">



    <div class="modal-header">
        <h5 class="modal-title">Change Password</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>



    <br />
    <form id="ChangePassword" novalidate>
        <input type="hidden" asp-for="@Model.HiteshTaskUserMasterModel.Id" />
        
            
                
            
        
      
        <br />

      

        <div class="form-group">
            <label for="password">Password</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="toggle-password-btn">
                        <i class="fa fa-eye" id="toggleIcon"></i>
                    </span>
                </div>

                <input type="password" class="form-control" id="password" asp-for="@Model.HiteshTaskUserMasterModel.Password" placeholder="Enter password" required>

            </div>

            <span asp-validation-for="@Model.HiteshTaskUserMasterModel.Password" class="text-danger"></span>
        </div>
     

        <div class="form-group">
            <label for="newpassword">New Password</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="toggle-newpassword-btn">
                        <i class="fa fa-eye" id="newtoggleIcon"></i>
                    </span>
                </div>

                <input type="password" class="form-control" id="newpassword" asp-for="@Model.HiteshTaskUserMasterModel.newpassword" placeholder="New Password here" required>

            </div>

            <span asp-validation-for="@Model.HiteshTaskUserMasterModel.newpassword" class="text-danger"></span>
        </div>

       
        <div class="form-group">
            <label for="conpassword">Confirm Password</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="toggle-conpassword-btn">
                        <i class="fa fa-eye" id="contoggleIcon"></i>
                    </span>
                </div>

                <input type="password" class="form-control" id="conpassword" asp-for="@Model.HiteshTaskUserMasterModel.confirmpassword" placeholder="Confirm Password here" required>

            </div>

            <span asp-validation-for="@Model.HiteshTaskUserMasterModel.confirmpassword" class="text-danger"></span>
        </div>

        <div class="modal-footer">
           
                  <button type="button" class="btn btn-primary w-20" onclick="TaskManagementSystem.Account.ChangePassword()">ChangePassword</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            
    </form>
</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
   
}


<script src="~/js/themes/jquery.min.js" asp-append-version="true"></script>
<script type="text/javascript">

        $(document).ready(function() {
  
       $("#toggle-password-btn").on("click", function () {
        var passwordField = $("#password");
        var toggleIcon = $("#toggleIcon");
        var newpsw=$("#newpassword");
         var newtoggleIcon = $("#newtoggleIcon");

        if (passwordField.attr("type") === "password") {
            passwordField.attr("type", "text");
            toggleIcon.removeClass("fa-eye").addClass("fa-eye-slash");
        } else {
            passwordField.attr("type", "password");
            toggleIcon.removeClass("fa-eye-slash").addClass("fa-eye");
        }

      
    });

     $("#toggle-newpassword-btn").on("click", function () {
       
        var newpsw=$("#newpassword");
         var newtoggleIcon = $("#newtoggleIcon");

         if (newpsw.attr("type") === "password") {
            newpsw.attr("type", "text");
            newtoggleIcon.removeClass("fa-eye").addClass("fa-eye-slash");
        } else {
            newpsw.attr("type", "password");
            newtoggleIcon.removeClass("fa-eye-slash").addClass("fa-eye");
        }

    });

      $("#toggle-conpassword-btn").on("click", function () {

        var newpsw=$("#conpassword");
         var newtoggleIcon = $("#contoggleIcon");

         if (newpsw.attr("type") === "password") {
            newpsw.attr("type", "text");
            newtoggleIcon.removeClass("fa-eye").addClass("fa-eye-slash");
        } else {
            newpsw.attr("type", "password");
            newtoggleIcon.removeClass("fa-eye-slash").addClass("fa-eye");
        }

    });



    });




</script>